<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Snippets</string>
	<key>uuid</key>
	<string>34E433E7-5E91-4327-B995-AE4F1030FC3A</string>
</dict>
</plist>
